genome_index/
GRCh38.all.fa.gz
quants/SRR13783589/aux_info
quants/SRR13783589/cmd_info.json
quants/SRR13783589/lib_format_counts.json
quants/SRR13783589/libParams
quants/SRR13783589/logs
SRR13783589.fastq.gz
